.main {
  background-color: rgb(20, 16, 37);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  text-align: center;

  h1 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  img {
    margin-bottom: 50px;
  }

  form {
    background-color: #fff;
    padding: 50px;
    text-align: left;
    width: 100%;
  }

  label {
    display: block;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 5px;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 50px;
    color: rgb(36, 125, 226);
    text-align: center;
    width: 100%;
    font-weight: bold;

    &:hover {
      color: darkblue;
    }
  }

  input[type="number"] {
    padding: 10px;
    width: 100%;
    color: #666;
  }
}

.field-container {
  margin-bottom: 10px;
}

.refresh_img {
  height: 25px;
  transform: rotate(90deg);
  margin-bottom: 0px !important;
  margin-left: 45%;
  cursor: pointer;
}
